body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: #2660A4;
  }

.header {
    color: white;
}

.nav {
    background-color: #9EADC8;
    padding-top:  5px;
    padding-bottom: 1px;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0.5em;
}

nav li {
    display: inline-block;
    padding: 0 1em;
    margin: 0;
}

nav li:not(:last-of-type) {
    border-right: 1px solid black;
}  

.content {
    background-color: #9EADC8;
    padding: 1em;
    margin: 0.5em 0;
}

.browse {
    text-align: center;
}

.head {
    text-align: center;
}

.contenthead {
    font-family: serif;
}

.item {
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
    background-color: #EDF7F6;
    border-radius: 10px;
}

.gift {
    word-wrap: anywhere;
    display: flex;
    justify-content: space-between;
}

.gift-image {
    max-width: 120px;
}

#image {
    max-width: 100px;
    margin: 10px;
    margin-bottom: 0;
}

.item input {
    background-color: antiquewhite;
}

.user-auth {
    display: inline-block;
}

.content .user-auth input {
    background-color: lightgoldenrodyellow;
}

h2 {
    margin: 4px;
  }