<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa lahjalistaa</title>
</head>

<body>
  <form action="/update_giftlist" method="post">
    <p>
      Lahjalista: <br />
      <input type="text" name="name" maxlength="70" minlength="4" value="{{ giftlist.title }}" required />
    </p>
    <p>
        Lahjalistan tyyppi:<br />
        <input type="radio" name="type" value="Hääjuhlan lahjatoivelista" required /> Häät
        <input type="radio" name="type" value="Syntymäpäiväjuhlan lahjatoivelista" /> Syntymäpäivät
        <input type="radio" name="type" value="Valmistujaisten lahjatoivelista" /> Valmistujaiset
        <input type="radio" name="type" value="Muu lahjatoivelista" /> Muu
    </p>
    <input type="hidden" name="list_id" value="{{ giftlist.giftlist_id }}" />
    <input type="submit" value="Tallenna muutokset" name="save" />
    <input type="submit" value="Ei sittenkään" name="cancel" />
  </form>
</body>

</html>
