{% extends "layout.html" %}

{% block title %}Lisää kuva{% endblock %}

{% block content %}
<h2 class="contenthead">Lisää kuva</h2>
<div class="add-image">
    <form action="/add_image" method="post" enctype="multipart/form-data">
        <p>
            Kuva: <input type="file" name="image" accept=".jpg" />
        </p>
        <input type="hidden" name="gift_id" value="{{ gift.id }}" />
        <input type="hidden" name="giftlist_id" value="{{ gift.giftlist_id }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lähetä" />
    </form>
</div>
<hr />
<a href="/giftlist/{{ gift.giftlist_id }}">Takaisin</a>
<hr />
{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
{% endblock %}