{% extends "layout.html" %}

{% block title %}Lahjalista{% endblock %}

{% block content %}
<div class="head">
  <h2>Etusivu</h2>
  <hr />
</div>
<div class="giftlists">
  <h2 class="contenthead">Lahjalistoja</h2>
  <div class="list">
    {% for list in lists %}
    <div class="item">
      <a href="/giftlist/{{ list.id }}">{{ list.title }}</a> <br />
      henkilöltä <a href="/user/{{ list.username }}">{{ list.username }}</a>
    </div>
    {% endfor %}
  </div>
  <div class="browse">
    <p>
      <a href="/1">&lt;&lt;</a>&nbsp;
      <a href="/{{ page - 1 }}">&lt;</a>
      Sivu {{ page }}/{{ page_count }}
      <a href="/{{ page + 1 }}">&gt;</a>&nbsp;
      <a href="/{{ page_count }}">&gt;&gt;</a>&nbsp;
    </p>
    <hr />
  </div>
</div>
{% endblock %}