<!DOCTYPE html>
<html>

<head>
  <title>Lahjalista</title>
</head>

<body>
  <h1>Lahjalista</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    Kirjaudu sisään tai rekisteröidy
  </p>
  <p>
    <a href="/register">Rekisteröidy</a>
  </p>
  <p>
    <a href="/login">Kirjaudu sisään</a>
  </p>
  {% endif %}
  <p>
    <a href="new_giftlist">Uusi lahjalista</a>
  </p>
  <h2>Lahjalistoja</h2>
  <ul>
    {% for list in lists %}
    <li><a href="/giftlist/{{ list.id }}">{{ list.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
