<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h2>Lahjalista</h2>
  </div>

  <div class="nav">
    <nav>
        {% if session.user_id %}
        <b>
            Olet kirjautunut nimellä <a href="/user/{{ session.username }}">{{ session.username }}</a>
        </b>
        <ul>
          <li><a href="/logout">Kirjaudu ulos</a></li>
          <li><a href="/new_giftlist">Uusi lahjalista</a></li>
          <li><a href="/find_giftlist">Etsi</a></li>
          <li><a href="/">Etusivulle</a></li>
        </ul>
        {% else %}
        <b>
            Kirjaudu sisään tai rekisteröidy
        </b>
        <ul>
          <li><a href="/register">Rekisteröidy</a></li>
          <li><a href="/login">Kirjaudu sisään</a></li>
          <li><a href="/find_giftlist">Etsi</a></li>
          <li><a href="/">Etusivulle</a></li>
        </ul>
        {% endif %}
    </nav>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
