{% extends "layout.html" %}

{% block title %}Uusi lahjalista{% endblock %}

{% block content %}
<h2>Uusi lahjalista</h2>
<form action="/create_giftlist" method="post">
  <p>
    Lahjalistan otsikko: <br />
    <input type="text" name="name" maxlength="70" minlength="4" />
  </p>
  <p>
    Lahjalistan tyyppi:<br />
    <input type="radio" name="type" value="Hääjuhlan lahjatoivelista" required /> Häät
    <input type="radio" name="type" value="Syntymäpäiväjuhlan lahjatoivelista" /> Syntymäpäivät
    <input type="radio" name="type" value="Valmistujaisten lahjatoivelista" /> Valmistujaiset
    <input type="radio" name="type" value="Muu lahjatoivelista" /> Muu
  </p>
  <p>
    Listan salasana: <br />
    <input type="password" name="password1" required /> <br />
    Listan salasana uudestaan: <br />
    <input type="password" name="password2" required />
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo lahjalista" name="create" />
</form>
{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
{% endblock %}