{% extends "layout.html" %}

{% block title %}Uusi lahjalista{% endblock %}

{% block content %}
<div class="head">
  <h2>Uusi lahjalista</h2>
</div>
<div class="user-auth">
  <form action="/create_giftlist" method="post">
    <p>
      <label for="name">Lahjalistan otsikko</label>:<br />
      <input type="text" name="name" id="name" maxlength="70" minlength="4" />
    </p>
    {% for class in classes %}
    <p>
    <label for="{{ class }}">{{ class }}</label>:<br />
      {% for value in classes[class] %}
      <input type="radio" name="{{ class }}" id="{{ class }}" value="{{ value }}" required /> {{ value }}
      {% endfor %}
    </p>
    {% endfor %}
    <p>
      <label for="password1">Listan salasana</label>:<br />
      <input type="password" name="password1" id="password1" required /> <br />
      <label for="password2">Listan salasana uudestaan</label>:<br />
      <input type="password" name="password2" id="password2" required />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Luo lahjalista" name="create" />
  </form>
</div>
{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
{% endblock %}