<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

<body>
  <form action="/create" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" minlength="2" maxlength="50" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" required />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" required />
    </p>
    <input type="submit" value="Luo tunnus" name="create" />
    <input type="submit" value="Peruuta" name="cancel" />
  </form>
</body>

</html>
