{% extends "layout.html" %}

{% block title %}Rekisteröityminen{% endblock %}

{% block content %}
<h2 class="contenthead">Rekisteröityminen</h2>
<div class="user-auth">
  <form action="/create" method="post">
    <p>
      <label for="username">Tunnus</label>:<br />
      <input type="text" name="username" id="username" minlength="2" maxlength="50" required />
    </p>
    <p>
      <label for="password1">Salasana</label>:<br />
      <input type="password" name="password1" id="password1" required />
    </p>
    <p>
      <label for="password2">Salasana uudestaan</label>:<br />
      <input type="password" name="password2" id="password2" required />
    </p>
    <input type="submit" value="Luo tunnus" name="create" />
  </form>
</div>
{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
{% endfor %}
{% endblock %}