{% extends "layout.html" %}

{% block title %}{{ giftlist.title }}{% endblock %}

{% block content %}
<h2 class="contenthead">{{ giftlist.title }}</h2>
{% if session.user_id == giftlist.user_id %}
<div class="giftlist">
  <div class="info">
    <a href="/user/{{ giftlist.username }}"> Sinun</a> lahjatoivelistasi.<br/>
    {{ giftlist.type }}.
    <hr />
  </div>
  <form action="/giftlist/{{ giftlist.giftlist_id }}" method="post">
    <p>
      <label for="giftname">Lisää lahja</label>:</br>
      <textarea rows="3" cols="30" name="giftname" id="giftname" minlength="3" maxlength="90" required ></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lisää" name="add" />
  </form>
  <div class="gifts">
    <div class="list">
      {% for gift in gifts %}
      <div class="item">
        {{ gift.title | show_lines }} <!-- menee laatikosta yli. korjattava 1/2 -->
        <form action="/giftlist/{{ giftlist.giftlist_id }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="hidden" name="gift_id" value="{{ gift.id }}" />
          <input type="submit" value="Poista" name="delete_gift" />
          {% if gift.getter_id != None %}
          Joku on varannut tämän lahjan!
          {% endif %}
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="manage">
    <hr />
    <h3>Lahjalistan hallinta</h3>
    <a href="/edit/{{ giftlist.giftlist_id }}">Muokkaa</a> <br />
    <a href="/delete/{{ giftlist.giftlist_id }}">Poista</a>
  </div>
</div>
{% elif session.list_id == giftlist.giftlist_id %}
<div class="giftlist">
  <div class="info">
    Henkilön <a href="/user/{{ giftlist.username }}"> {{ giftlist.username }} </a> lahjatoivelista.<br/>
    {{ giftlist.type }}.
    <hr />
  </div>
  <h3>Lahjatoiveet:</h3>
  {% if gifts | count == 0 %}
    <div class="gifts">
      Lahjatoiveita ei ole vielä lisätty
    </div>
  {% else %}
    <div class="gifts">
      <div class="list">
        {% for gift in gifts %} 
        <div class="item">
          {{ gift.title | show_lines}} <!-- menee laatikosta yli. korjattava 2/2 -->
          <form action="/giftlist/{{ giftlist.giftlist_id }}" method="post">
            {% if gift.getter_id == None %}
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
              <input type="hidden" name="gift_id" value="{{ gift.id }}" />
              <input type="submit" value="Hanki" name="buy" />
            {% elif gift.getter_id == session.user_id %}
              <b>Olet varannut tämän lahjan</b>
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
              <input type="hidden" name="gift_id" value="{{ gift.id }}" />
              <input type="submit" value="Ei sittenkään" name="cancel-buy" />
            {% else %}
              <b>Tämä lahja on varattu</b>
            {% endif %}
          </form>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
{% else %}
<div class="giftlist">
  <div class="info">
    Henkilön <a href="/user/{{ giftlist.username }}"> {{ giftlist.username }} </a> lahjatoivelista.<br/>
    {{ giftlist.type }}.
    <hr />
  </div>
</div>
<div class="user-auth">
  <form action="/giftlist/{{ giftlist.giftlist_id }}" method="post">
    <p>
      <label for="password">Salasana</label>:
      <input type="password" id="password" name="password" />
    </p>
    <input type="submit" value="Näytä lahjalista" name="show" />
  </form>
</div>
<p>
{% endif %}
{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
{% endblock %}