{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h2 class="contenthead">Käyttäjä {{ user.username }}</h2>
{% if session.username == user.username %}
<div class="user">
  <div class="user-lists">
    {% if lists | count == 0 %}
      <b>Sinulla ei ole lahjalistoja.</b>
    {% else %}
      {% if lists | count == 1 %}
        <b>Sinulla on yksi lista:</b>
      {% else %}
        <b>Sinulla on {{ lists | count }} listaa:</b>
      {% endif %}
      <ul>
        {% for list in lists %}
          <li>
            <a href="/giftlist/{{ list.id }}">{{ list.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="user-gifts">
  {% if buyings | count == 0 %}
    <b>Et ole ilmoittanut ostavasi lahjoja.</b>
  {% else %}  
    <b>Olet ilmoittanut ostavasi seuraavia lahjoja:</b>
    <ul>
      {% for buying in buyings %}
      <li>
        {{ buying.title | show_lines }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% else %}
<div class="user">
  <div class="user-lists">
    {% if lists | count == 0 %}
      <b>Henkilöllä {{ user.username }} ei ole lahjalistoja.</b>
    {% else %}
      {% if lists | count == 1 %}
        <b>Henkilöllä {{ user.username }} on yksi lista:</b>
      {% else %}
        <b>Henkilöllä {{ user.username }} on {{ lists | count }} listaa:</b>
      {% endif %}
      <ul>
        {% for list in lists %}
        <li>
          <a href="/giftlist/{{ list.id }}">{{ list.title }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}